.filterBox {
  min-width: 480px;
}

@media(max-width: 1400px) {
  .filterBox {
    max-width: 300px;
  }
}

@media(max-width: 1200px) {
  .filterBox {
    display: none;
  }
}

// Extra Small (XS)
@media (max-width: 575px) {
  .list {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

// Small (SM)
@media (min-width: 576px) and (max-width: 767px) {
  .list {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

// Medium (MD)
@media (min-width: 768px) and (max-width: 991px) {
  .list {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

// Large (LG)
@media (min-width: 992px) and (max-width: 1199px) {
  .list {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

// Extra Large (XL)
@media (min-width: 1200px) and (max-width: 1399px) {
  .filterBox {
    max-width: 400px;
  }
}

// Extra Extra Large (XXL)
@media (min-width: 1400px) {
  .list {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}
