.header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  height: 80px;
  border-bottom: 1px solid #eceff1;
  padding: 24PX 40px;
  background-color: #000000;
}

.linkButton {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
