.button {
  padding: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, transform 0.2s ease;

  &:hover {

  }

  &:active {
    //transform: translateY(0);
  }

  &.default {
    background-color: #007bff;
    color: white;

    &:hover {
      background-color: #0056b3;
    }
  }

  &.outline {
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;

    &:hover {
      background-color: #e6f2ff;
    }
  }

  &.contained {
    background-color: #000000;

    &:hover {
      background-color: #767677;
    }
  }

  &.secondary {
    background: none;
    color: #000000;
    border: 1px solid #000000;

    &:hover {
      background-color: #5a6268;
    }
  }

  &.small {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }

  &.medium {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  &.large {
    padding: 10px 40px;
  }

  &.iconable {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    transition: background-color 0.3s ease;
    background: none;

    &:hover {
      transition: 0.3s ease-out;

      svg {
        fill: #767677;
        path {
          fill: #767677;
        }
      }
    }

    svg {
      fill: currentColor;
      transition: fill 0.3s ease;
    }
  }
}
